:root {
  --text: #7a6767;
  --primary: #e2c626e6;
  --dark: #7a6767;
  --bg: #ffffff;
}
body,
.markdown-body {
  margin: auto;
  background-color: var(--bg);
  color: var(--text);
  max-width: 1024px;
  font-family: system-ui, sans-serif;
}

blockquote a,
.markdown-body blockquote a {
  color: var(--bg);
  text-decoration: none;
}
h1 a {
  color: var(--bg);
}
h1 {
  background-color: var(--primary);
  color: var(--bg);
  padding: 0.5em 1em;
}
h2 {
  margin-top: 3rem;
}
blockquote,
.markdown-body blockquote {
  background-color: var(--text);
  color: var(--bg);
  padding: 1em;
  border: 0;
}
hr {
  margin: 2em 0;
}
.menu {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background: var(--dark);
  padding: 0.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
.menu a {
  color: var(--bg);
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
